# build.kit template

# Define your packages here by using a correct packageprofile class.
# Available types are SourcePackage(), RPMPackage(), SRPMPackage(),
# DistroPackage(), BinaryPackage()

#pkg1 = SourcePackage()
#pkg1.name = 'foo'
#pkg1.version = '1.0'
#pkg1.release = '0'
#pkg1.installroot = '/opt/foo'
#pkg1.filename = 'foo-1.0.tar.gz'

# define a default component
comp = $compclass
comp.name = '$compname'
comp.description = '$compdesc'

# Add any packages defined earlier by using the comp.addDep method
#comp.addDep(pkg1)

# define a default kit
k = $kitclass
k.name = '$kitname'
k.description = '$kitdesc'

# Adding the component defined earlier
k.addComponent(comp)


