#for $ip in $servers
server      $ip
#end for
server      127.127.1.0 #local clock
fudge       127.127.1.0  stratum 10

driftfile   /var/lib/ntp/drift
disable     monitor

restrict    127.0.0.1    mask 255.255.255.255
#for $ip, $netmask in $restrictNets.items()
restrict    $ip mask $netmask nomodify noquery
#endfor

