# Redhat kickstart template
#
# \$Id$
#
# Copyright 2007 Platform Computing Inc.
#
# Licensed under GPL version 2; See LICENSE file for details.
# 

install
#if $varExists('instnum')
#if $instnum 
key $instnum
#else
key --skip
#end if
#end if
url --url $url
rootpw --iscrypted $rootpw
lang $lang
langsupport --default=$lang $lang
keyboard $keybd
#for $net in $networks
$net
#end for
firewall --disabled
selinux --disabled
firstboot --disable
authconfig --enableshadow --enablemd5
timezone $tz
bootloader --location=mbr
#clearpart --all
clearpart --none
#for $part in $partitions
$part
#end for
reboot
%packages
#for $pkg in $packages
$pkg
#end for
@Base
vim-enhanced
ntp
subversion
%post

